body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f4f6f9;
}

/* Navbar */
.navbar {
    background: #2c3e50;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* Container */
.container {
    width: 80%;
    margin: 30px auto;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Job Card */
.job-card {
    border-left: 5px solid #4facfe;
    transition: 0.3s;
}

.job-card:hover {
    transform: scale(1.02);
}

/* Buttons */
.btn {
    background: #4facfe;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #00c6ff;
}

/* Form */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn {
    display: inline-block;
    margin-right: 8px;
}